<div class="tasklist">
	<article class="listing">
		<h3>{{title}}</h3>
		<div class="desc">
			<span>Description:</span> {{description}}
		</div>
		<div class="deadline">
			<span>Deadline:</span> {{deadline}}
		</div>
	</article>
</div>