<div class="title">
	<p>Hello welcome to the todo list</p>
	{{#link-to 'todos' class="button"}}
		Move it
	{{/link-to}}
</div>

{{#each model as |task|}}
{{todo-item title=task.title description=task.description deadline=task.deadline}}
{{/each}}